<div class="flex flex-col lg:flex-row pt-5 h-container w-full">
  <button (click)="routeTo('json-beautifier')" class="flex-1 bg-purple-300 text-pink-600 text-3xl font-medium m-3 p-3 rounded">JSON Beautifier</button>
  <button (click)="routeTo('password-generator')" class="flex-1 bg-green-300 text-yellow-600 text-3xl font-medium m-3 p-3 rounded">Password Generator</button>
  <button (click)="routeTo('ess-parser')" class="flex-1 bg-pink-300 text-purple-600 text-3xl font-medium m-3 p-3 rounded">ESS Parser</button>
</div>
